1 VERSIONINFO
FILEVERSION     1,4,1,0
PRODUCTVERSION  1,4,1,0
BEGIN
  BLOCK "StringFileInfo"
  BEGIN
    BLOCK "080904E4"
    BEGIN
      VALUE "CompanyName", "eNoise Project"
      VALUE "FileDescription", "Pichi jabber bot"
      VALUE "FileVersion", "1.4.1"
      VALUE "InternalName", "pichi"
      VALUE "LegalCopyright", "eNoise team."
      VALUE "OriginalFilename", "pichi.exe"
      VALUE "ProductName", "Pichi Bot"
      VALUE "ProductVersion", "1.4.1"
    END
  END

  BLOCK "VarFileInfo"
  BEGIN
    VALUE "Translation", 0x809, 1252
  END
END
